
@{
    ViewData["Title"] = "Test4";
}

<h2>Test4</h2>
<form method="get" asp-action="CallApi">
    <input name="InputNumber" id="InputNumber" type="number" />
    <button type="submit">Gönder</button>
</form>

