@model IEnumerable<BilisimKreatif.Model.Customer>
@{
    ViewData["Title"] = "Müşteriler";
}

<h2>Müşteriler</h2>
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Yeni Müşteri</a>
</p>
<table class="table table-hover table-striped" id="tblRecords">
    <thead>
        <tr>
            <th>Tam Ad</th>
            <th>Telefon</th>
            <th>E-posta</th>
            <th>Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

